.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  padding: 50px 0 0 50px;
  overflow: hidden;
}
.h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.list {
  margin: 10px 0 0 20px;
  height: calc(100vh - 162px);
  overflow: auto;
}

li {
  width: 400px;
  position: relative;
  line-height: 40px;
}

li:hover {
  background-color: #ddd;
}

li i, li .checkbox {
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
  font-size: 26px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

li .checkbox {
  right: 40px;
  width: auto;
}
